.ins-img{
    max-width: 44px;
    max-height: 44px;
    border-radius: 50%;
}
.course-img{
    height: 240px;
    object-fit: cover;
}
.course-price span{
    background-color: #21a7d0;
    color: white;
    padding: 9px 15px;
    border-radius: 5px;
    font-weight: 800;
}
.course-title{
    font-weight: 800;
}
.ins-name{
    font-weight: 700;
    font-size: 20px;
   margin-top: 8px;
}
.course-card{
    box-shadow: 0 10px 30px rgb(75 131 252 / 10%);
    border: none;
    border-radius: 10px;
}
.course-area{
    background-color: #F3F4F8;
}
.course-btn{
 padding: 15px 10px;   
}
.course-btn:hover{
 color: #21a7d0; 
}