.service-input{
    width: 90% ;
    max-width: 400px;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    outline: none;
  
}
.login-form{
    text-align: center;
}
.btn-submit{
    padding: 8px 40px;
    background-color: black;
    color: white;border: none;
    transition: all .5s;
}
.btn-submit:hover{
    color: white;
    background-color: #273C66;

}
.service-text{
    border:none ;
    border-bottom: 1px solid #cacaca;
    border-radius: 0;
}